<div class="container d-flex justify-content-center mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of finalArr;let i=index">
        <td>{{item[0]}}</td>
        <ng-container *ngIf="item[1] > 0 && item[1] < 3">
            <td class="bg-danger">{{item[1]}}</td>
        </ng-container>
        <ng-container *ngIf="item[1] > 2 && item[1] < 10">
          <td class="bg-warning">{{item[1]}}</td>
      </ng-container>
      <ng-container *ngIf="item[1] > 10">
        <td class="bg-success">{{item[1]}}</td>
    </ng-container>
       
        
      </tr>
    </tbody> 
   
  </table>
 
</div>